<main>
    <div id="carouselExample" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="/assets/img/A-Wn_Mus.Hs.18688_fol.26r_ausschn_001.jpg" class="d-block w-100" alt="...">
                <div>
                    <!--<span style="font-size: 12pt;color: #151515; font-style: italic">Some representative placeholder content for the first slide.</span>-->
                </div>
            </div>

            <div class="carousel-item" data-bs-interval="5000">
                <img src="/assets/img/A-Wn_18827_fol.39r.jpg" class="d-block w-100 h-100" alt="..." >

            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="/assets/img/LAUTE-Arbeit_1.jpg" class="d-block w-100 h-100" alt="..." >
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="/assets/img/Bild_MEI_Elslein.png" class="d-block w-100 h-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="/assets/img/buch_001.jpg" class="d-block w-100 h-100" alt="...">
            </div>
        </div>
    </div>

</main>
