<footer>
  <hr/>
  <ul class="logos">
    <li class="logo"><a><img src="../assets/img/UW.png" alt="Universität Wien" title="Universität Wien"></a></li>
    <li class="logo"><a><img src="../assets/img/mdw.png" alt="Universität für Musik und darstellende Kunst Wien" title="Universität für Musik und darstellende Kunst Wien"></a></li>
    <li class="logo"><a><img src="../assets/img/TU.png" alt="TU Wien" title="TU Wien"></a></li>
    <li class="logo"><a><img src="../assets/img/LMU.png" alt="Ludwig-Maximilian-Universität München" title="Ludwig-Maximilian-Universität München"></a></li>
    <li class="logo"><a><img src="../assets/img/ONB.png" alt="Österreichische Nationalbibliothek" title="Österreichische Nationalbibliothek"></a></li>
    <li class="logo"><a><img src="../assets/img/Bayreuth.png" alt="Universität Bayreuth" title="Universität Bayreuth"></a></li>
    <li class="logo big"><a><img src="../assets/img/Schola_Cantorum.jpg" alt="Schola Cantorum Basiliensis / FHNW Basel" title="Schola Cantorum Basiliensis / FHNW Basel"></a></li>
    <li class="logo wide"><a><img src="../assets/img/BSB-Logo_Claim-deutsch.jpg" alt="Bayrische StaatsBibliothek" title="Bayrische StaatsBibliothek"></a></li>

  </ul>
  <hr/>
  <ul class="logos">
    <li class="logo"><a><img src="../assets/img/Weave.svg" alt="Weave: Research funding without borders" title="Weave: Research funding without borders"></a></li>
    <li class="logo"><a><img src="../assets/img/FWF.svg" alt="FWF: Austrian Science Fund" title="FWF: Austrian Science Fund"></a></li>
    <li class="logo"><a><img src="../assets/img/DFG.svg" alt="DFG: German Research Foundation" title="DFG: German Research Foundation"></a></li>
    <li class="logo"><a><img src="../assets/img/SNSF.svg" alt="SNSF: Swiss National Science Foundation" title="SNSF: Swiss National Science Foundation"></a></li>
  </ul>
  <div id="funder-acks">This research project is funded by Weave (FWF / DFG / SNSF): I 6019</div>
  <div id="logo-acks">Logo image: <a href="https://ikmk.smb.museum/object?id=18271645">Medaille mit der Porträtdarstellung von Veit Bulling. Süddeutscher Medailleur, 1525, hintere Seite</a> © Münzkabinett der Staatlichen Museen Preußischer Kulturbesitz zu Berlin, Nr. 302.</div>
</footer>
