{% assign lang = site.active_lang %}

<nav class="navbar navbar-expand-md">
    <div class="container {% unless page.title %}container-home{% endunless %}">
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span>
                <i class="fa-solid fa-bars"></i>
            </span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav nav-main mr-auto list-unstyled">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        {{site.project[lang]}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <a class="dropdown-item" href="/presentation">{{site.presentation[lang]}}</a>
                        <a class="dropdown-item" href="/team">{{site.team[lang]}}</a>
                        <a class="dropdown-item" href="/partner">{{site.partner[lang]}}</a>
                    </div>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="/edition">Edition</a>
                </div>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Forschung
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <a class="dropdown-item" href="/pilotI">Pilot I</a>
                        <a class="dropdown-item" href="/pilotII">Pilot II</a>
                        <a class="dropdown-item" href="/pilotIII">Pilot III</a>
                        <a class="dropdown-item" href="/pilotIV">Pilot IV</a>
                        <a class="dropdown-item" href="/pilotV">Pilot V</a>
                        <a class="dropdown-item" href="/meitei">MEI & TEI</a>
                        <a class="dropdown-item" href="/aspects">{{site.aspects[lang]}}</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        {{site.activity[lang]}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <a class="dropdown-item" href="/workshop">Workshop E-LAUTE 3.7.-4.7. 2023 Wien</a>
                        <a class="dropdown-item" href="/single-presentation
                        ">{{site.single_presentations[lang]}}</a>
                        <a class="dropdown-item" href="/press">{{site.press[lang]}}</a>
                    </div>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="/collaboration">{{site.collab[lang]}}</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="/jobs">{{site.sourcing[lang]}}</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="/contact">{{site.contact[lang]}}</a>
                </div>
            </ul>
        </div>
    </div>
</nav>
