{% assign lang = site.active_lang %}
<div class="sticky-top navigation">


    <nav class="navbar navbar-expand-lg navbar-dark center">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse ml-2 navbar-inner" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-link">
                        <a class="nav-link" href="/">Home</a>
                    </li>

                    <li class="nav-link dropdown">

                        <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            The Project
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/presentation">Presentation</a>
                            <a class="dropdown-item" href="/team">Team</a>
                            <a class="dropdown-item" href="/partner">Partners &amp; advisory panel</a>
                        </div>
                    </li>

                    <li class="nav-link">
                        <a class="nav-link" href="/news">News</a>
                    </li>

                    <li class="nav-link">
                        <a class="nav-link" href="/edition">Edition</a>
                    </li>


                    <li class="nav-link dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Research
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/pilotI">Pilot I</a>
                            <a class="dropdown-item" href="/pilotII">Pilot II</a>
                            <a class="dropdown-item" href="/pilotIII">Pilot III</a>
                            <a class="dropdown-item" href="/pilotIV">Pilot IV</a>
                            <a class="dropdown-item" href="/pilotV">Pilot V</a>
                            <a class="dropdown-item" href="/meitei">MEI &amp; TEI</a>
                            <a class="dropdown-item" href="/aspects">Single aspects</a>
                        </div>
                    </li>

                    <li class="nav-link dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Activities
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/workshop">Workshop E-LAUTE 3.7.-4.7. 2023 Wien</a>
                            <a class="dropdown-item" href="/single-presentation">Single presentations</a>
                            <a class="dropdown-item" href="/press">Press about us</a>
                        </div>
                    </li>
                    <li class="nav-link">
                        <a class="nav-link" href="/collaboration">Collaborative edition</a>
                    </li>
                    <!--
                    <li class="nav-link">
                        <a class="nav-link" href="/jobs">Sourcing</a>
                    </li>-->
                    <li class="nav-link">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
            <div id="lang-select">

                <a class="nav-link" style="font-weight: bold;" href="/">en</a>
                <a class="nav-link" href="/de/">de</a>
            </div>
        </div>
    </nav>

</div>