---
---
@import "{{ site.theme }}";

.navbar {
  display: flex;
  justify-content: center;
  height: 50px;
}

.dropdown-menu {
  background-color: rgb(198, 94, 94) !important;
}

.dropdown-item {
  color: white !important;
}

.dropdown-item:active {
  background-color: white !important;
}

.navigation {
  background-color: rgb(198, 94, 94) !important;
  color: white !important;
  display: flex;
  justify-content: center;
}

.nav-link {
  color: white !important;
}

body { 
  text-shadow: unset !important;
}

img.blend{ 
  mix-blend-mode: multiply;
  display:inline !important;
}

img.inline { 
  display:inline !important;
  margin: .5em !important;
}

header { 
  color: #f66;
}

h1 { 
  color: #e96!important;
}

header h2, header a { 
  color: #fee !important;
}

header a:hover { 
  color:#f96 !important;
}

.inner h2 { 
  color: #c40 !important;
}

h3 { 
  color: #d60;
}

a { 
  color: #c63 !important;
}

a:hover {
  color: #a20 !important; 
}

footer { 
  color:black !important;
  background: unset;
}

body { 
  text-align: justify;
}


#lang-select { 
  display:flex;
  justify-content:flex-end;
  border: 1px solid white;
  border-radius: 20px;
}

.logos {
  display: flex;
  flex-wrap: wrap;
}

.logo { 
  display:block;
  margin-top: 1rem;
}

.logo a { 
  display:flex;
  justify-content: center;
  align-items: center;
  height:100%;
}

.logo img { 
  width:140px;
  height:80px;
  object-fit: contain;
  mix-blend-mode: multiply;
}

.logo.wide, .logo.big {
  margin-left: -5rem;
}

.logo.wide img { 
  max-width: 200% !important;
  width: 200px;
  margin-left:100px;
}

.logo.big img { 
  max-width: 280% !important;
  width: 280px;
  margin-left:100px;
}

hr { 
  /*background: transparent url("../images/hr.png") 0 0 no-repeat;*/
  background: transparent url("../images/hr.png") center/150% no-repeat;
  background-color: unset !important;
  opacity: unset !important;
}

#funder-acks, #logo-acks { 
  margin-top:1em;
  text-align:center;
}

.acks {
  font-size: 13px;
  margin-top:-1.5em;
  margin-bottom:1em;
  text-align:center;
}


.inner { 
  width: 1000px !important;
  background: #fee !important;
}

.inner img { 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.inner img.left { 
  padding:1em;
  margin:unset;
}

body { 
  background: #fee !important;
}

header { 
  background:#933;
  width: 100%; 
  margin: 0 auto;
}

.header-wrapper { 
  width:1000px;
  height: 150px;
  margin: 0 auto;
  color: grey;
}


.header-image {
  height: 150%;
  width: auto;  
  object-fit: contain; 
  margin-left: 130px;
}

.header-wrapper a, .header-wrapper h1 {
  text-decoration: none; 
}

/* hide default title / description text */
.header-wrapper > span { 
  display: none !important;
}




#project-logo img {
  height: 100px;
  float:left;
  margin-right:2em;
}

hr .nice-hr { 
  height:1px !important;
  max-height:1px !important;
}

.tile {
  width: 100% !important;
  height: 10vw !important;
  object-fit: cover !important;
  opacity:.8;
}

.card-img-overlay {
  background-color: rgba(255, 238, 238, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px; 
  height: 4em;
  transition: background-color 0.3s ease; 
  top: unset !important;
}

.card:hover .card-img-overlay { 
  height: 6em;
}

.card-title {
  margin: 0; /* Removes default margin */
  color: black; 
}

.card-text {
  display: none;
  color: black; 
}

.card:hover .card-text {
  display: block;
}

img {
  max-width: 100%;
}





/* Ensure responsiveness (small screen sizes) */


/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) { 
  
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

  
 }

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 990px) {
  header {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .header-image {
    display: none;
  }
  

  .header-wrapper { 
    width:100% !important;
  }

  .header-wrapper h2 { 
    font-size: 18px;
    letter-spacing:0;
  }
  
  #downloads {
    margin-bottom: 25px;
  }
  #download-zip, #download-tar-gz {
    display: none;
  }
  .inner {
    width: 94% !important;
    margin: 0 auto;
  }
  ul li {
    margin-left: 10px;
    padding-left: 10px;
    list-style: none !important;
  }
  ol li {
    margin-left: 10px;
  }

}


/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 990px) {
  
  #lang-select { 
    margin-left: 1em;
  }
  .navigation {
    justify-content: left;
  }


 }

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  #lang-select { 
    margin-left: 1em;
  }
  .navigation {
    justify-content: left;
  }

    .card-group {
    display: none;
  }
 }

