---
---
@import "{{ site.theme }}";

body { 
  text-shadow: unset !important;
}

header { 
  color: #f66;
}

h1 { 
  color: #e96!important;
}

header h2, header a { 
  color: #fee !important;
}

header a:hover { 
  color:#f96 !important;
}

.inner h2 { 
  color: #c40 !important;
}

h3 { 
  color: #d60;
}

a { 
  color: #c63 !important;
}

a:hover {
  color: #a20 !important; 
}

footer { 
  color:black !important;
  background: unset;
}

body { 
  text-align: justify;
}

#lang-select { 
  display:flex;
  justify-content:flex-end;
  a {
    color:#aaaaaa;
  }
}

.logos { 
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 1rem;
}

.logo { 
  display:block;
}

.logo a { 
  display:flex;
  justify-content: center;
  align-items: center;
  height:100%;
}

.logo img { 
  width:140px;
  height:80px;
  object-fit: contain;
  mix-blend-mode: multiply;
}

.logo.wide img { 
  max-width: 200% !important;
  width: 200px;
  margin-left:100px;
}

hr { 
  /*background: transparent url("../images/hr.png") 0 0 no-repeat;*/
  background: transparent url("../images/hr.png") center/150% no-repeat;
}

#funder-acks { 
  margin-top:1em;
  text-align:center;
}

.inner { 
  width: 1000px !important;
  background: #fee !important;
}

.inner img { 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body { 
  background: #fee !important;
}

header { 
  background:#933;
  width: 100%; 
  margin: 0 auto;
}

.header-wrapper { 
  width:1000px;
  margin: 0 auto;
  color: grey;
}

#project-logo img {
  height: 100px;
  float:left;
  margin-right:2em;
}


/* Ensure responsiveness (small screen sizes) */


/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) { }

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) { }

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  header {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .header-wrapper { 
    width:94% !important;
  }

  .header-wrapper h2 { 
    font-size: 18px;
    letter-spacing:0;
  }
  
  #downloads {
    margin-bottom: 25px;
  }
  #download-zip, #download-tar-gz {
    display: none;
  }
  .inner {
    width: 94% !important;
    margin: 0 auto;
  }
  ul li {
    margin-left: 10px;
    padding-left: 10px;
  }
  ol li {
    margin-left: 10px;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) { }

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) { }