---
---
@import "{{ site.theme }}";

h1 { 
  color:#1c4896 !important;
}

h2 { 
  color:#0c1f41 !important;
}

a {
  color:#aaaaaa !important;
}

footer { 
  color:black !important;
}

#lang-select { 
  display:flex;
  justify-content:flex-end;
}

#funder-logos { 
  display:flex;
  justify-content:space-between;
  max-width:100%;
  img { 
    max-width: 20% !important;
  }
}

#funder-acks { 
  margin-top:1em;
  text-align:center;
}
