---
---
@import "{{ site.theme }}";

h1 { 
  color:#1c4896 !important;
}

h2 { 
  color:#0c1f41 !important;
}

p>a {
  color:#1c4896 !important;
}

p>a:hover {
  color: #0c1f41 !important; 
}

footer { 
  color:black !important;
}

body { 
  text-align: justify;
}

#lang-select { 
  display:flex;
  justify-content:flex-end;
  a {
    color:#aaaaaa;
  }
}

.logos { 
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 1rem;
}

.logo { 
  display:block;
  max-width: 100%;
}

.logo a { 
  display:flex;
  justify-content: center;
  align-items: center;
  height:100%;
}

.logo img { 
  width:140px;
  height:80px;
  object-fit: contain;
  mix-blend-mode: multiply;
}

footer hr { 
  background: transparent url("../images/hr.png") 0 0 no-repeat;
}

#funder-acks { 
  margin-top:1em;
  text-align:center;
}
