<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    {%- include navbar.html -%}


    <main class="page-content" aria-label="Content">
      <div class="container-fluid">
        <div class="row">
          <div class=" col col-sm-4">
            <div class="position-sticky" style="top: 2rem;">
              {% if page.permalink =='/'%}{% include carousel.html %}
              {% endif %}
              {% if page.permalink =='/presentation/'%}<img src="/assets/img/A-Wn_Mus.Hs.18688_fol.26r_ausschn_001.jpg" class="d-block w-100" alt="...">
              {% endif %}
              {% if page.permalink =='/team/'%} <img src="/assets/img/Dohna_kutsche.png" class="d-block w-100" alt="..." >
              {% endif %}
              {% if page.permalink =='/partner/'%}<img  src="/assets/img/Foedera.png" class="d-block w-100" alt="...">
              {% endif %}
              {% if page.permalink =='/news/'%}<img  src="/assets/img/Paul_Jenisch_Kutsche_001.png" class="d-block w-100" alt="...">
              <div class="acks"> Stammbuch Paul Jenisch (later Joseph Jenisch), ©Württembergische Landesbibliothek, Cod.hist.qt.298, fol. 180v</div>
              {% endif %}
              {% if page.permalink =='/pilotI/'%}<img  src="/assets/img/Hofieren_Dohna.png" class="d-block w-100" alt="...">
              {% endif %}
              {% if page.permalink =='/pilotII/'%}<img  src="/assets/img/Craus_Harfe_col_01.png" class="d-block w-100" alt="...">
              {% endif %}
              {% if page.permalink =='/pilotIII/'%}<img  src="/assets/img/Pilot_III_001.png" class="d-block w-100" alt="...">
              {% endif %}
              {% if page.permalink =='/pilotIV/'%}<img  src="/assets/img/Handy_coll_02.png" class="d-block w-100" alt="...">
              {% endif %}
              {% if page.permalink =='/pilotV/'%}<img  src="/assets/img/DTOe_coll_01.png" class="d-block w-100" alt="...">
              {% endif %}
              {% if page.permalink =='/meitei/'%}<img  src="/assets/img/MEI_Collage_1.png" class="d-block w-100" alt="...">
              {% endif %}
              {% if page.permalink =='/workshop/'%}<img  src="/assets/img/Laute_Fragment_001.JPG" class="d-block w-100" alt="...">
              {% endif %}
              {% if page.permalink =='/single-presentation/'%}<img  src="/assets/img/Newsidler_Blatt_001.png" class="d-block w-100" alt="...">
              {% endif %}
              {% if page.permalink =='/press/'%}<img  src="/assets/img/Thurner_Text.jpg" class="d-block w-100" alt="...">
              {% endif %}
              {% if page.permalink =='/aspects/'%}<img  src="/assets/img/Collage.png" class="d-block w-100" alt="...">
              {% endif %}
              {% if page.permalink =='/collaboration/'%}<img  src="/assets/img/PC_3.png" class="d-block w-100" alt="...">
              {% endif %}

            </div>

          </div>
          <div class="col-12 col-sm-8">
            <div class="wrapper">
              {{ content }}
            </div>
          </div>
        </div>

      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
